<<<<<<< HEAD
/* ReportSongs.css */
.report-songs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
  
.report-songs-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 500px;
  color: white;
}
  
  .form-group {
    margin-bottom: 20px;
    width: 100%; 
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
.form-group input {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: black;
  background-color: white;
}
  
  .submit-button {
    padding: 15px;
    background-color: #222;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #5276ee; 
  }

  .form-group select {
    width: 100%; 
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black; 
    background-color: white; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
  } 
  
  .form-group input[type="text"] {
    margin-top: 10px; 
  }
  
  .form-group select {
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
  }
  
  .form-group option {
    color: black;
  }

  .report-songs-title {
    font-size: 28px; 
=======
/* ReportSongs.css */
.report-songs-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally in the container */
    justify-content: center; /* Center vertically in the container */
    height: 100vh; /* Use the full height of the viewport */
    width: 100vw; /* Use the full width of the viewport */
  }
  
  .report-songs-form {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the form fields horizontally */
    width: 100%;
    max-width: 500px; /* Adjust the max-width as needed */
    color: white; /* Set the color of the text in the form to white */
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%; /* Make sure the form group takes the full width */
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%; /* Input fields should take the full width of the form group */
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black; /* Set the text color inside the input fields to black for visibility */
    background-color: white; /* Ensure the input background is white for contrast */
  }
  
  .submit-button {
    padding: 15px;
    background-color: #222;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button:hover {
    background-color: #B2DFFC; /* Light blue color for the hover state */
  }

  .form-group select {
    width: 100%; /* Match the width with input fields */
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black; /* Text color for select options */
    background-color: white; /* Background color of select */
    -webkit-appearance: none; /* Removes default chrome and safari style */
    -moz-appearance: none; /* Removes default style Firefox */
    appearance: none; /* Removes default browser style */
  }
  
  /* Style for the optional input field for the 'other' reason */
  .form-group input[type="text"] {
    margin-top: 10px; /* Spacing between select and this input field */
  }
  
  /* To change the dropdown arrow color to white to be visible on dark background */
  .form-group select {
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position-x: 98%;
    background-position-y: 50%;
  }
  
  /* To ensure the dropdown content color is black for readability */
  .form-group option {
    color: black;
  }

  .report-songs-title {
    font-size: 28px; /* Or any other size */
>>>>>>> d22b85091668b19f80abdc5fde68008f6825cb50
  }