
/* AddSongs.css */
.add-songs-container {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    height: 100vh; 
    width: 100vw; 
  }
  
  .add-songs-form {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%;
    max-width: 500px; 
    color: white; 
  }
  
  .form-group {
    margin-bottom: 20px;
    width: 100%; 
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%; 
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black; 
    background-color: white; 
  }
  
  .submit-button {
    padding: 15px;
    background-color: #222;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .submit-button-add:hover {
    background-color: #5276ee; 
  } 

  .add-songs-title {
    font-size: 28px; 
  }